force-apps/deploy/main/default/flows/SimulateSelectedMaster.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>  
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Simulate selected master {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Simulate selected master</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE010</name>
        <label>CREATE010 Create Received record</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>SCREEN020</targetReference>
        </connector>
        <inputAssignments>
            <field>ETOrchestrateDC__FlowName__c</field>
            <value>
                <elementReference>SCR010_Table.firstSelectedRow.ETOrchestrateDC__FlowName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETOrchestrateDC__Message__c</field>
            <value>
                <stringValue>SIMULATOR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETOrchestrateDC__SourceObject__c</field>
            <value>
                <elementReference>SCR010_Table.firstSelectedRow.ETOrchestrateDC__DataSource__c</elementReference>
            </value>
        </inputAssignments>
        <object>ETOrchestrateDC__DCO_DmoReceived__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET010</name>
        <label>GET010 Find Master records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCREEN010</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ETOrchestrateDC__DCO_Master__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SCREEN010</name>
        <label>SCREEN010 Prompt Master record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CREATE010</targetReference>
        </connector>
        <fields>
            <name>SCR010_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ETOrchestrateDC__DCO_Master__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Master Records To Simulate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET010</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3fb5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ETOrchestrateDC__FlowName__c&quot;,&quot;guid&quot;:&quot;column-49bd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Flow Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ETOrchestrateDC__DataSource__c&quot;,&quot;guid&quot;:&quot;column-43be&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Data Source&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ETOrchestrateDC__ActionType__c&quot;,&quot;guid&quot;:&quot;column-04a8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Action Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-10d2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN020</name>
        <label>SCREEN020 Success</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SCR020_Success</name>
            <fieldText>&lt;p&gt;Record successfully created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET010</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
